  <!--logo-->
  <div class="logo">
      <a href="https://www.sigops.org/sosp/sosp19/" target="_blank">
	<img src="../images/logo.png" alt="SOSP19"/>
      </a>
    <div></div>
    <a href="https://www.sigops.org/" target="_blank"><img 
	src="../images/sigops.jpg" alt="SIGOPS"/></a>
    <div>In cooperation with</div>
    <a href="https://www.usenix.org/" target="_blank"><img 
	src="../images/usenix.png" alt="USENIX"/></a>
  </div>
  <!--logo-->

  <!--sidebar menu-->
  <div class="top-nav">
    <div class="nav1">
      <ul class="nav nav-sidebar">
	<li><a id="homenav" href="../index.html">Home</a></li>
        <li>
          <b>Conference Details</b>
          <ul>
	    <li><a href="../program.html">Program</a></li>
	    <li><a href="../sched.html">Workshop and Tutorial Program</a></li>
	    <li><a href="../reg.html">Registration</a></li>
	    <li><a href="../venue.html">Venue</a></li>
	    <li><a href="../sponsors.html">Sponsors</a></li>
	    <li><a href="../workshops.html">Workshops</a></li>
	    <li><a href="../tutorials.html">Tutorials</a></li>
	    <li><a href="../organizers.html">Organizers</a></li>
          </ul>
        </li>
        <!--
	<li>
          <b>Local Information</b>
          <ul>
	    <li><a href="https://wp.nyu.edu/sosp2017tutorials/" 
	    target="_blank">Tutorial</a></li>
            <li><a href="bof.html">Birds of Feather</a></li>
            <li><a href="excursion.html">Excursion</a></li>
	    <li><a href="reg.html">Registration</a></li>
	  </ul>
	</li>-->
	<li>
	<b>Calls for Participation</b>
	  <ul>
	    <li><a href="../cfp.html">Call for Papers</a></li>
	    <!--<li><a href="cfw.html">Call for Workshops</a></li>-->
	    <li><a href="../cft.html">Call for Tutorials</a></li>
	    <li><a href="../cfsrc.html">Student Research Competition</a></li>
	    <li><a href="../cfss.html">Call for Scholarships</a></li>
	    <li><a href="../cfs.html">Call for Sponsors</a></li>
	    <li><a href="../mentoring.html">Mentoring</a></li>
	  </ul>
	</li>
	<li>
          <b>Additional Information</b>
          <ul>
	    <li><a href="../visa.html">Visa Information</a></li>
	    <li><a href="../cc.html">Child Care</a></li>
	    <li><a href="../code.html">Code of Conduct</a></li>
	    <li><a href="../dei.html">Diversity Plan</a></li>
	    <li><a href="http://www.sosp.org/">Prior SOSPs</a></li>
          </ul>
        </li>
      </ul> 
    </div>	
  </div>
  <!--sidebar menu-->
